

@media only screen and (max-width: 1700px) {

    .container {
        width: 100%;
        padding: 0 20px;
    }
    .header__tel{
        display: none;
    }
    .services__link-desc {
        font-size: 16px;
        line-height: 130%;
    }
    .services__link-inner {
        padding: 30px;
    }
    .step {
        display: block;
    }
    .step__list{
        width: 1230px;
        margin: 0 auto;
    }
    .step__title{
        text-align: center;
    }
    .form p {
        max-width: 400px;
    }
    .footer__map .map {
        width: 100%;
        height: 340px;
    }
    .footer {
        grid-template: 1fr auto auto/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "logo logo contact contact contact contact contact contact" 
        "nav nav nav2 nav2 map map map map" 
        "copy copy copy copy map map map map";
        padding-bottom: 20px;
    }
    .join__item {
        padding: 20px;
    }



















}


@media only screen and (max-width: 1024px) {
    .header__container{
        height: 64px;
        align-items: center;
    }
    .main {
        padding-top: 64px;
      }
    .header__logo {
        display: block;
        height: 35px;
        img{
            height: 100%;
        }
    }
    .card {
        padding: 20px;
    }
    h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .btn {
        height: 40px;
        border-radius: 20px;
        font-size: 13px;
    }
    .header__nav-wrap{
        display: none;
    }
    .header__group_contact{
        gap: 4px;
        .header__tel, .btn{
            display: none;
        }
    }
    .header__tel-btn, .header__menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        cursor: pointer;
    }






}





