

@media only screen and (max-width: 1700px) {

    .container {
        width: 100%;
        padding: 0 20px;
    }
    .header__tel{
        display: none;
    }
    .services__link-desc {
        font-size: 16px;
        line-height: 130%;
    }
    .services__link-inner {
        padding: 30px;
    }
    .step {
        display: block;
    }
    .step__list{
        width: 1230px;
        margin: 0 auto;
    }
    .step__title{
        text-align: center;
    }
    .form p {
        max-width: 400px;
    }
    .footer__map .map {
        width: 100%;
        height: 340px;
    }
    .footer {
        grid-template: 1fr auto auto/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "logo logo contact contact contact contact contact contact" 
        "nav nav nav2 nav2 map map map map" 
        "copy copy copy copy map map map map";
        padding-bottom: 20px;
    }
    .join__item {
        padding: 20px;
    }
    .team h2{
        margin-bottom: 120px;
    }


















}


@media only screen and (max-width: 1280px) {
    .header__container{
        height: 64px;
        align-items: center;
    }
    .main {
        padding-top: 64px;
      }
    .header__logo {
        display: block;
        height: 35px;
        img{
            height: 100%;
        }
    }
    .card {
        padding: 20px;
    }
    .intro__pic{
        padding: 0;
    }
    h1, h2, h3{
        margin-bottom: 20px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
    .btn {
        height: 40px;
        border-radius: 20px;
        font-size: 13px;
    }
    .header__nav-wrap{
        display: none;
    }
    .header__group_contact{
        gap: 4px;
        .header__tel, .btn{
            display: none;
        }
    }
    .header__tel-btn, .header__menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        cursor: pointer;
    }
    .intro {
        grid-template: auto auto 1fr / 1fr 1fr;
    }
    .intro__pic {
        grid-row: 2/3;
        grid-column: 1/3;
        height: 400px;
        img{
            height: auto;
        }
    }
    .intro__min_pay {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .intro__min_spec {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .intro__min-pic img {
        height: 50px;
    }
    .intro__min {
        padding-right: 130px;
    }
    .article {
        margin-bottom: 30px;
    }
    .grid_card {
        gap: 20px;
        margin-bottom: 20px;
    }
    .card_pic img {
        bottom: 20px;
        right: 20px;
        width: 30px;
        
    }
    .services__title{
        padding-left: 60px;
        min-height: 40px;
        display: flex;
        align-items: center;
        position: static;
        width: 100%;
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fee2db url(../img/icon_user.svg) no-repeat center center/20px auto;
            
        }
    }
    .services__list{
        display: flex;
        overflow: auto;
        margin: 0 -20px;
        padding: 0 20px;
        li{
            &:nth-child(1), &:nth-child(2){
                display: none;
            }
        }
    }
    .services__link{
        width: 225px;
        font-size: 16px;
        &:after {
            display: none;
        }
        &:before {
            width: 20px;
            height: 20px;
            background: url(../img/icon_arrow.svg) no-repeat center center / 20px 20px;
            top: 20px;
            right: 20px;
          }
    }
    .services__link-inner {
        display: flex;
        padding: 20px;
        position: static;
        height: 100%;
    }
    .services__link-head {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .services__link-desc {
        font-size: 13px;
    }
    .benefit__list{
        display: flex;
        overflow: auto;
        margin: 0 -40px;
        padding: 0 40px;
        gap: 20px;
        li{
            &:nth-child(1){
                //display: none;
            }
        }
    }
    .benefit__title{
        position: static;
        width: 100%;
    }
    .benefit__item {
        padding: 20px;
        width: 280px;
        min-width: 280px;
        background-size: 80px auto !important;
    }
    .benefit__name {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .benefit__desc {
        font-size: 13px;
        width: 80%;
    }
    .btn-ac {
        padding: 20px 0 0;
    }
    .step__list {
        width: auto;
        display: flex;
        overflow: auto;
        margin: 0 -20px;
        padding: 0 20px;
        .svg{
            display: none;
        }
        .svg_min{
            display: block;
            position: absolute;
            top: 72px;
            left: 229px;
            z-index: 100;
            svg{
                width: 1500px;
                height: 120px;
            }
        }
    }
    .step__item{
        width: 280px;
        min-width: 280px;
        padding: 28px 30px;
        &:nth-child(1){
            order: 1;
        };
        &:nth-child(2){
            order: 2;
            .step__pic{
                margin-top: -3px;
            }
        };
        &:nth-child(3){
            order: 3;
            .step__pic {
                margin-left: -21px;
            }
        };
        &:nth-child(4){
            order: 6;
            .step__pic {
                margin-left: 7px;
                margin-top: 15px;
                width: 145px;
            }
        };
        &:nth-child(5){
            order: 5;
            .step__pic {
                margin-left: 3px;
                margin-top: 5px;
                width: 145px;
            }
        };
        &:nth-child(6){
            order: 4;
            .step__pic {
                margin-left: -21px;
            }
        };
    }
    .step__pic{
        width: 160px;
    }
    .step__desc {
        letter-spacing: 0.03em;
        font-size: 13px;
        line-height: 140%;
    }
    .help__pic {
        margin: 0;
        border-radius: 0;
        img{
            border-radius: 16px;
        }
    }
    .help__title{
        position: static;
        font-size: 18px;
        line-height: 110%;
        color: #202020;
        margin-bottom: 20px;
        padding: 0;
    }
    .step__title {
        text-align: left;
    }
    .help__list{
        padding: 0 20px;
        margin-top: -68px;
    }
    .help__item {
        padding: 20px;
    }
    .help__head {
        display: block;
        height: 13px;
        margin-bottom: 4px;
        font-size: 13px;
    }
    .help__body {
        height: 34px;
        font-size: 30px;
    }
    .help__desc {
        font-size: 13px;
    }
    .need__item {
        padding: 20px 60px 20px 20px;
        font-size: 13px;
    }
    .need__item::after {
        width: 20px;
        height: 20px;
        background: url(../img/icon_check_orange.svg) no-repeat center center / 20px 20px;
        top: 50%;
        right: 22px;
        margin-top: -10px;
    }
    .join-wrap {
        display: flex;
        margin: 0 -20px;
        padding: 0 20px;
        overflow: auto;
        align-items: stretch;
        
    }
    .join__item {
        width: 322px;   
        min-width: 322px; 
        gap: 26px;  
        font-size: 15px;
        line-height: 120%
    }
    .join__pic {
        min-width: 50px;
        width: 50px;
        height: 50px;
    }
    .question {
        padding: 20px;
        width: 322px;   
        min-width: 322px;
        justify-content: space-between;
        height: auto;
    }
    .question__head {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .question__desc {
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 10px;
    }
    .question__body::after {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background-size: 20px 20px !important;
        top: -5px;
        right: -5px;
    }
    .question__body {
        padding-right: 56px;
    }
    .team {
        padding: 20px 0 100px;
    }
    .team h2 {
        margin-bottom: 90px;
    }
    .team .slick-slide.slick-center .team__desc {
        left: 232px;
    }
    .review {
        display: flex;
        flex-direction: column;
    }
    .review__text {
        font-size: 13px;
    }
    .swiper-button-prev{
        left: 0;
    }
    .swiper-button-next{
        right: 0;
    }
    .review-gal__desc {
        font-size: 13px;
    }
    .why__card-title {
        border-width: 2px;
        border-radius: 16px;
        padding: 10px 20px;
        gap: 10px;
        font-size: 16px;
        line-height: 120%;
        left: 20px;
        height: 68px;
    }
    .why__card-img{
        width: 40px;
    }
    .list__item {
        padding: 20px 0 20px 40px;
        border-bottom: 1px solid rgba(32, 99, 204, 0.3);
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
        position: relative;
        &:last-child{
            &:after{
                top: calc(50% + 10px);
            }
        }
    }
    .list__item::after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        margin-top: -10px;
        background-size: 20px 20px !important;
    }      
    .why {
        gap: 20px;
        padding-top: 40px;
    }
    .formwrap{
        display: block;
    }
    .formwrap__pic{
        display: none;
    }
    .form {
        padding: 20px;
    }
    .form h2 {
        margin-bottom: 20px;
    }
    .form p {
        font-size: 13px;
    }
    .form input, .form textarea {
        font-size: 13px;
        height: 48px;
        padding: 0 16px;
    }
    .form textarea{
        padding: 16px;
    }
    .form .field__wrap.error .field__error {
        top: 11px;
        right: 15px;
    }
    .form p.form__agree {
        font-size: 13px;
    }
    .footer .card {
        padding: 20px;
    }
    .footer__desc {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .footer__contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .footer__navlist-link {
        font-size: 13px;
        line-height: 1.2;
        display: inline-block;
    }
    .footer__navlist {
        gap: 10px;
    }
    .footer__copy.card {
        padding: 20px;
        font-size: 13px;
    }
    .footer__map-desc {
        gap: 20px;
        font-size: 13px;
    }

}





