* {
  box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0 0 16px;
}

img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

b, strong {
  font-weight: 600;
}

i {
  font-style: italic;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 12px 0 12px;
  width: 100%;
}

table th {
  font-weight: bold;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
}

:root {
  --font-family: "Raleway", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --transition: all 0.2s ease-in-out;
  --transition05: all 0.5s ease-in-out;
  --color: #202020;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  color: --color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  flex-direction: column;
  background: #F2F6FF;
  font-family: var(--font-family);
}

.svg path {
  stroke-dasharray: 6;
  stroke-dashoffset: 1200;
  animation: dash 60s linear forwards infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.map {
  -webkit-filter: grayscale(100%);
}

.ymaps3x0--map-copyrights_right {
  display: none !important;
}

.ymaps3x0--default-marker__icon-box {
  background: url(../img/pos.svg) center center no-repeat;
}
.ymaps3x0--default-marker__icon-box svg {
  opacity: 0;
}

.header__group {
  display: flex;
  gap: 46px;
}
.header__group_contact {
  gap: 30px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}
.header__nav-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__nav-wrap .btn {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header__nav-item.parent .header__subnav {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.header__nav-link {
  font-weight: 400;
  transition: var(--transition);
  color: var(--color);
}
.header__nav-link:hover {
  color: #2063cc;
}
.header__tel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
}
.header__tel-item {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: #2063cc;
  display: flex;
  align-items: center;
  transition: var(--transition);
}
.header__tel-item svg {
  fill: #2063cc;
  transition: var(--transition);
  margin-right: 8px;
}
.header__tel-item:hover {
  color: #ec4015;
}
.header__tel-item:hover svg {
  fill: #ec4015;
}
.header__tel-btn {
  display: none;
}
.header__menu-btn {
  display: none;
}

.container {
  width: 1660px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  border-radius: 29px;
  background: #2063cc;
  padding: 0 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  transition: var(--transition);
  color: #fff;
  border: 2px solid #2063cc;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #2063cc;
}
.btn:hover {
  background: #2063cc;
  color: #fff;
  color: #fff;
}
.btn_invert {
  color: #2063cc;
  border: 2px solid #2063cc;
  background: transparent;
}
@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}/*# sourceMappingURL=main.css.map */