
*{
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus{
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 500;
}

input,
select,
textarea {
    
}

p{
    margin: 0 0 16px;
}

img{
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active{
    text-decoration: none;
    position: relative;
    //color: currentColor;
}

ul{
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b, strong{
    font-weight: 600;
}

i{
    font-style: italic;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th{
    font-weight: bold;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 8px;
}

:root {
    --font-family: "Raleway", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --black: #202020;
    --blue: #2063cc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: (--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #F2F6FF;
    font-family: var(--font-family);
}
.svg{
    // width: 50vw;
    // height: 900px;
    path {
        stroke-dasharray: 6;
        stroke-dashoffset: 1200;
        -webkit-animation: dash 60s linear forwards infinite;
        animation: dash 60s linear forwards infinite;
    }
    @-webkit-keyframes dash {
        to {
            stroke-dashoffset: 0
        }
    }
    @keyframes dash {
        to {
            stroke-dashoffset: 0
        }
    }
}
.map {
    -webkit-filter: grayscale(100%);
}
.ymaps3x0--map-copyrights_right {
    display: none !important;
}
.ymaps3x0--default-marker__icon-box{
    svg{
        opacity: 0;
    }
    background: url(../img/pos.svg) center center no-repeat;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: (var(--transition));
    z-index: 100;
    background: #F2F6FF;
    &.fixed{
        border-radius: 0px 0px 16px 16px;
        box-shadow: 0px 14px 30px 0px rgba(32, 99, 204, 0.1);
        background: #fff;
    }
    &__logo{
        align-self: center;
    }
    &__group{
        display: flex;
        gap: 46px;
        &_contact{
            gap: 30px;
            .btn{
                align-self: center;
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        height: 120px;
        align-items: stretch;
    }
    &__nav-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        
        .btn{
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 4px;
    }
    &__nav-item {
        display: flex;
        align-items: center;
        &.parent {
            position: relative;
            span{
                cursor: default;
            }
            svg{
                fill: var(--black);
                transform: translate(-22px, 2px);
                transition: (var(--transition));
            }
            .header__subnav{
                opacity: 0;
                visibility: hidden;
                position: absolute;
            }
            &:hover{
                svg{
                    fill: var(--blue);
                }
            }
        }
    }
    
    &__nav-link, &__nav-parent {
        font-weight: 400;
        transition: (var(--transition));
        color: (var(--color));
        height: 40px;
        padding: 0 20px;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        white-space: nowrap;
        &:hover{
            color: #2063cc;
            border: 1px solid #2063cc;
            background: #f2f6ff;
        }
    }
    &__nav-parent {
        padding-right: 32px;
    }
    &__subnav {
        
    }
    &__subnav-item {}
    &__subnav-link {}
    &__tel {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 28px;
    }
    &__tel-item {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        color: #2063cc;
        display: flex;
        align-items: center;
        transition: (var(--transition));
        svg{
            fill: #2063cc;
            transition: (var(--transition));
            margin-right: 8px;
        }
        &:hover{
            color: #ec4015;
            svg{
                fill: #ec4015;
            }
        }
    }
    &__tel-btn {
        display: none;
    }
    &__menu-btn {
        display: none;
    }
}
.main{
    padding-top: 120px;
}
.container {
    width: 1660px;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    border-radius: 29px;
    background: #2063cc;
    padding: 0 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    transition: var(--transition);
    color: #fff;
    border: 2px solid #2063cc;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #2063cc;
    &:hover{
        background: #2063cc;
        color: #fff;
        color: #fff;
    }
    &_invert {
        color: #2063cc;
        border: 2px solid #2063cc;
        background: transparent;
    }
    &_transparent {}
}

.hamburger {
}
.article {
}
.intro {
    &__head {}
    &__pic {}
    &__min {
      &_pay {}
      &_spec {}
    }
    &__min-desc {}
    &__min-pic {}
}
.card {
    &_inner {}
    &_info {}
    &_pic {}
    &_alert {}
    &__pic {}
    &__desc {}
}
.services {
    &__title {}
    &__item {
      &_other {}
    }
    &__item-head {}
    &__item-desc {}
}
.benefit {
    &__title {}
    &__item {}
    &__desc {}
    &__icon {}
}
.ac {
}
.step {
    &__title {}
    &__list {}
    &__item {}
    &__pic {}
    &__desc {}
    &__num {}
}
.help {
    &__title {}
    &__pic {}
    &__list {}
    &__item {}
    &__head {}
    &__body {}
    &__desc {}
}
.row {
}
.col {
    &_50 {}
}
.need {
    &__item {}
}
.join {
    &__item {}
    &__pic {}
    &__desc {}
}
.question {
    &__body {}
    &__head {}
    &__desc {}
}
.team {
    &__pic {}
    &__desc {}
    &__name {}
    &__pos {}
}
.team-gal {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.partner {
    &__title {}
    &__list {}
    &__item {}
}
.review {
    &__desc {}
    &__text {}
}
.review-gal {
    &__desc {}
}
.swiper {
}
.why {
    &__card {}
    &__card-title {}
    &__card-img {}
}
.list {
    &__item {
      &_check {}
      &_pos {}
      &_cross {}
      &_neg {}
    }
}
.form {
    &__agree {}
}
.df {
}
.footer {
    &__logo {}
    &__contact {}
    &__desc {}
    &__contact-item {}
    &__nav {}
    &__navlist {}
    &__navlist-item {}
    &__navlist-link {}
    &__map {}
    &__map-desc {}
    &__copy {}
    &__copy-copy {}
    &__copy-dev {}
}
.map {
}











































@import '_query';