* {
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}
button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 50px;
    font-weight: 500;
}
h1{
    font-size: 60px;
    line-height: 110%;
    margin-bottom: 152px;
}
h2{
    font-size: 48px;
    line-height: 110%;
}
h3{
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
}

input,
select,
textarea {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    border: 0;
}

p {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

img {
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
    //color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th {
    font-weight: bold;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
}

:root {
    --font-family: "Raleway", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --black: #202020;
    --blue: #2063cc;
    --orange: #e8491f;
    --orange-bg: #fee2db;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: (--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #F2F6FF;
    font-family: var(--font-family);
    font-variant-numeric: lining-nums proportional-nums;
}

.svg {

    // width: 50vw;
    // height: 900px;
    path {
        stroke-dasharray: 6;
        stroke-dashoffset: 1200;
        -webkit-animation: dash 60s linear forwards infinite;
        animation: dash 60s linear forwards infinite;
    }

    @-webkit-keyframes dash {
        to {
            stroke-dashoffset: 0
        }
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0
        }
    }
}

.map {
    -webkit-filter: grayscale(100%);
}

.ymaps3x0--map-copyrights_right {
    display: none !important;
}

.ymaps3x0--default-marker__icon-box {
    svg {
        opacity: 0;
    }

    background: url(../img/pos.svg) center center no-repeat;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: (var(--transition));
    z-index: 100;
    background: #F2F6FF;

    &.fixed {
        border-radius: 0px 0px 16px 16px;
        box-shadow: 0px 14px 30px 0px rgba(32, 99, 204, 0.1);
        background: #fff;
    }

    &__logo {
        align-self: center;
    }

    &__group {
        display: flex;
        gap: 26px;
        .btn{
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            height: 53px;
        }
        &_contact {
            gap: 30px;

            .btn {
                align-self: center;
            }
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        height: 120px;
        align-items: stretch;
    }

    &__nav-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .btn {
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2px;
    }

    &__nav-item {
        display: flex;
        align-items: center;

        &:hover {
            >.header__nav-parent {
                color: #2063cc;
                border: 1px solid #2063cc;
                background: #f2f6ff;
            }
        }

        &.parent {
            position: relative;

            >svg {
                fill: var(--black);
                position: absolute;
                top: 19px;
                right: 16px;
                transition: (var(--transition));
                pointer-events: none;
                width: 7px;
                height: 4px;
            }

            &:hover {
                >svg {
                    fill: var(--blue);
                    transform: rotate(180deg);
                }

                >.header__subnav-wrap {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }

            .header__nav-parent {
                padding-right: 32px;
                cursor: default;
            }
        }

        >.header__nav-link,
        >.header__nav-parent {
            font-weight: 400;
            transition: (var(--transition));
            color: (var(--color));
            height: 40px;
            padding: 0 20px;
            border-radius: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid transparent;
            white-space: nowrap;

            &:hover {
                color: #2063cc;
                border: 1px solid #2063cc;
                background: #f2f6ff;
            }
        }
    }

    &__subnav {
        border-radius: 0px 0px 16px 16px;
        box-shadow: 0px 14px 30px 0px rgba(32, 99, 204, 0.1);
        background: #fff;
        padding: 24px 0 24px 30px;
        display: flex;
        flex-direction: column;

        &-wrap {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: -40px;
            max-width: 340px;
            min-width: 340px;
            padding-top: 40px;
            transition: var(--transition);
            transform: translateY(10px);
        }

        .header__subnav {
            position: absolute;
            left: 100%;
            top: -24px;
            display: flex;
            z-index: 100;
            border-radius: 16px;
            .header__subnav-link {
                white-space: nowrap;
            }
        }
    }

    &__subnav-item {
        padding: 6px 30px 6px 0;

        &.parent {
            padding-right: 30px;
            position: relative;

            >svg {
                fill: var(--black);
                position: absolute;
                top: 16px;
                right: 30px;
                transition: (var(--transition));
                pointer-events: none;
                width: 7px;
                height: 4px;
                transform: rotate(-90deg);
            }

            .header__subnav {
                opacity: 0;
                visibility: hidden;
                transform: translateX(10px);
                transition: (var(--transition));
            }

            &:hover {
                >svg {
                    fill: var(--blue);
                    right: 25px;
                }

                .header__subnav-parent {
                    color: #2063cc;
                }

                .header__subnav {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }
            }
        }

    }

    &__subnav-link,
    &__subnav-parent {
        font-size: 16px;
        line-height: 120%;
        color: #000;
        font-weight: 400;
        transition: var(--transition);
        display: inline-block;

        &:hover {
            color: #2063cc;
        }
    }

    &__subnav-parent {
        cursor: default;
    }

    &__tel {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 28px;
    }

    &__tel-item {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        color: #2063cc;
        display: flex;
        align-items: center;
        transition: (var(--transition));

        svg {
            fill: #2063cc;
            transition: (var(--transition));
            margin-right: 8px;
        }

        &:hover {
            color: #ec4015;

            svg {
                fill: #ec4015;
            }
        }
    }

    &__tel-btn {
        display: none;
    }

    &__menu-btn {
        display: none;
    }
}

.main {
    padding-top: 120px;
}

.container {
    width: 1660px;
    margin: 0 auto;
}
.btn-ac {
    padding: 50px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    border-radius: 29px;
    background: #2063cc;
    padding: 0 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    transition: var(--transition);
    color: #fff;
    border: 2px solid var(--blue);
    &:hover {
        background: transparent;
        color: var(--blue);
    }
    &_invert {
        color: var(--blue);
        border: 2px solid var(--blue);
        background: transparent;
        &:hover {
            background: var(--blue);
            color: #fff;
        }
    }
    &_transparent {
        color: #fff;
        border: 1px solid #fff;
        background: transparent;
        &:hover {
            background: rgba(255, 255, 255, 0.3);
            color: #fff;
        }
    }
}
.icon{
    &_check{
        width: 26px;
        height: 26px;
        stroke: #e8491f;
        fill: transparent
    }
} 

.hamburger {}

.article {
    margin-bottom: 120px;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.grid{
    display: grid;
    gap: 20px;
    grid-template: 1fr / 1fr 1fr;
    &__col{
        &_pic{

        }
        &_desc{

        }
    }
}

.col {
    &_50 {
        width: 50%;
    }
}
.card {
    border-radius: 16px;
    background: #fff;
    padding: 50px;
    &_inner {
        border-radius: 8px;
        padding: 40px;
    }

    &_info {
        background: #f2f6ff;
    }

    &_pic {
        position: relative;
        padding-right: 200px;
        img{
            position: absolute;
            bottom: 40px;
            right: 40px;
        }
    }
    &_alert {
        background: var(--orange-bg);
        .why__card-title{
            border-color: #ffb29d;
        }
        .list__item{
            border-color: rgba(232, 73, 31, 0.3);
        }
    }

    &__pic {
        border-radius: 8px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        max-width: 720px;
        flex: 1 0 720px;
        &_gift{
            h2{
                flex-grow: 1;
            }
            p{
                margin-bottom: 45px;
            }
        }
    }
}
.intro {
    display: grid;
    grid-template-columns: 400px 400px auto;
    grid-auto-rows: min-content;
    height: 700px;
    gap: 20px;
    &__head {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        width: 820px;
        padding: 50px;
    }

    &__pic {
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        overflow: hidden;
        padding: 0;
        //max-height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card {
        border-radius: 16px;
    }
    &__min {
        padding: 50px 130px 50px 40px; 
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        &_pay {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            background: #cce0ff;
        }
        &_spec {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            background: #fee2db;
        }
        &-desc {
            line-height: 120%;
        }
        &-pic {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding-right: 26px;
            display: flex;
            align-items: center;
            
            &:before{
                content: '';
                position: absolute;
                display: block;
                width: 320px;
                height: 320px;
                border-radius: 50%;
                background: #fff;
                top: 50%;
                transform: translateY(-50%);
                left: -30px;
            }
            img{
                position: relative;
                z-index: 20;
            }
        }
    }
    
}



.services {
    position: relative;
    &__title {
        position: absolute;
        left: 0;
        top: 0;
        width: 45%;
        line-height: 100%;
        padding-left: 130px;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #fee2db url(../img/icon_user.svg) no-repeat center center / 40px auto;
            top: 0;
            left: 0;
        }
    }
    &__list{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
        grid-template-areas: 
                            '. . item1 item2'
                            'item3 item4 item5 item6';
        gap: 20px;
    }
    &__item{
        &:nth-child(1){grid-area: item1;}
        &:nth-child(2){grid-area: item2;}
        &:nth-child(3){grid-area: item3;}
        &:nth-child(4){grid-area: item4;}
        &:nth-child(5){grid-area: item5;}
        &:nth-child(6){grid-area: item6;}
    }
    &__link {
        display: block;
        background: #fff;
        border-radius: 16px;
        position: relative;
        color: var(--black);
        height: 100%;
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        &:before{
            content: '';
            display: block;
            position: absolute;
            width: 26px;
            height: 26px;
            background: url(../img/icon_arrow.svg) no-repeat center center;
            top: 40px;
            right: 40px;
        }
        &_other {
            background: transparent;
            border: 2px solid var(--blue);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: var(--blue);
            &::before{
                display: none;
            }
        }
        &-inner{
            display: flex;
            padding: 40px;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            flex-direction: column;
            justify-content: space-between;
        }
        &-head {
            font-weight: 600;
            font-size: 24px;
            line-height: 110%;
            padding-right: 36px;
        }
        &-desc {
            font-size: 20px;
            line-height: 130%;
        }
    }
}

.benefit {
    position: relative;
    &__title {
        position: absolute;
        left: 50px;
        top: 50px;
        width: 30%;
        line-height: 110%;
    }
    &__list {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        grid-template-areas: 
                            '. item1 item2'
                            'item3 item4 item5';
        gap: 40px;
    }
    &__item{
        border-radius: 16px;
        padding: 40px 30px;
        &:nth-child(1){grid-area: item1;background: #f2f6ff url(../img/benefit_1.svg) no-repeat right bottom;}
        &:nth-child(2){grid-area: item2;background: #f2f6ff url(../img/benefit_2.svg) no-repeat right bottom;}
        &:nth-child(3){grid-area: item3;background: #f2f6ff url(../img/benefit_3.svg) no-repeat right bottom;}
        &:nth-child(4){grid-area: item4;background: #f2f6ff url(../img/benefit_4.svg) no-repeat right bottom;}
        &:nth-child(5){grid-area: item5;background: #f2f6ff url(../img/benefit_5.svg) no-repeat right bottom;}
    }
    &__name {
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 20px;
    }
    &__desc {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        width: 80%;
    }
}



.step {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    gap: 20px;
    &__title {}

    &__list {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        gap: 20px;
        position: relative;
        .svg{
            position: absolute;
            top: 72px;
            right: 65px;
        }
    }

    &__item {
        position: relative;
        background: #fff;
        border-radius: 16px;
        padding: 20px 40px 31px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        &:nth-child(2){
            .step__pic{
                margin-top: -20px;
                margin-left: -10px;
            }
        }
        &:nth-child(3){
            .step__pic{
                margin-top: 0;
                margin-left: -10px;
            }
        }
    }

    &__pic {}

    &__desc {
        letter-spacing: 0.03em;
    }

    &__num {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fee2db;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: #e8491f;
        position: absolute;
        top: 40px;
        right: 40px;
        
    }
}

.help {
    &__title {
        position: absolute;
        padding: 60px 60px 0;
        top: 0;
        left: 0;
        right: 0;
        font-family: var(--font-family);
        font-size: 48px;
        line-height: 110%;
        color: #fff;
        margin-bottom: 0;
    }
    &__pic {
        margin: 0 -20px;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__list {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        gap: 20px;
        margin-top: -100px;
        position: relative;
        z-index: 50;
    }
    &__item {
        border-radius: 16px;
        background: #fff;
        padding: 35px 40px;
    }
    &__head {
        display: block;
        height: 11px;
        margin-bottom: 4px;
        font-size: 16px;
    }
    &__body {
        height: 55px;
        font-weight: 400;
        font-size: 50px;
        line-height: 110%;
        display: block;
    }
    &__desc {
        font-size: 16px;
        display: block;
    }
}



.need {
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px
    }
    &__item {
        padding: 24px 60px 24px 40px;
        font-family: var(--font-family);
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.03em;
        border-radius: 16px;
        background: #fff;
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 26px;
            height: 26px;
            background: url(../img/icon_check_orange.svg) no-repeat center center;
            top: 25px;
            right: 30px;
        }
    }
    &__pic{
        border-radius: 16px;
        overflow: hidden;
        height: 700px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
}
.join {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
    &__group {}
    &__group-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__item {
        background: #fff;
        border-radius: 16px;
        padding: 36px 30px;
        display: flex;
        gap: 30px;
        align-items: center;
    }
    &__pic {
        border-radius: 100%;
        min-width: 60px;
        width: 60px;
        height: 60px;
        background: var(--orange-bg);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__desc {
        line-height: 120%;
    }
}



.question {
    background: #2063cc;
    border-radius: 16px;
    padding: 40px 30px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    &__body {
        display: flex;
        flex-direction: column;
        color: #fff;
        flex: 1 0 auto;
        position: relative;
        padding-right: 80px;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 60px;
            height: 60px;
            background: #89b3f4 url(../img/icon_tooltip.svg) no-repeat center center;
            top: 0;
            right: 0;
            border-radius: 50%;
        }
    }
    &__head {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 10px;
    }
    &__desc {
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 44px;
    }
}

.team {
    background: #fff;
    padding: 60px 0;
    &-gal {
        width: 100%;
    }
    .swiper{
        overflow: visible;
        &-wrapper {
            width: 100%;
        }
        &-slide {
            width: 250px;
            //transform: scale(0.8);
            &-active{
                transform: scale(1.4);
                //transition: var(--transition);
                //height: 650px;
                .team__pic{
                    //transform: scale(1.4);
                }
                .team__desc{
                    display: block;
                }
            }
        }
        &-button {}
        &-button-prev {}
        &-button-next {}
    }
    &__pic {
        
    }

    &__desc {
        display: none;
    }

    &__name {
        
    }

    &__pos {}
}


.partner {
    &__wrap {
        display: flex;
        gap: 20px;
        overflow: hidden;
    }
    &__list {
        display: flex;
        gap: 20px;
        min-width: 100%;
        animation: scroll 28s linear infinite;
        flex-shrink: 0;
        justify-content: space-around;
    }
    &__item {
        background: #fff;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 280px;
        width: 280px;
        height: 140px;
        
        img{
            max-width: 90%;
        }
    }
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - 20px));
        }
    }
}

.review {
    display: grid;
    grid-template: 1fr / 4fr 5fr;
    gap: 20px;
    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 0;
    }
}

.review-gal {
    width: 100%;
    &__desc {}
}


.why {
    display: flex;
    gap: 50px;
    padding-top: 108px;
    &__card {
        width: 50%;
        position: relative;
        padding-top: 90px;
    }
    &__card-title {
        background: #fff;
        border: 3px solid #89b3f4;
        border-radius: 8px;
        padding: 24px 90px 24px 30px;
        display: inline-flex;
        align-items: center;
        gap: 20px;
        font-size: 24px;
        line-height: 120%;
        position: absolute;
        left: 40px;
        top: 0;
        transform: translateY(-50%);
        height: 116px;
    }

    &__card-img {}
}

.list {
    display: flex;
    flex-direction: column;
    &__item {
        padding: 22px 22px 22px 46px;
        border-bottom: 1px solid rgba(32, 99, 204, 0.3);
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 26px;
            height: 26px;
            top: 24px;
            left: 0;
        }
        &:last-child{
            border: 0;
            padding-bottom: 0;
        }
        &_check {
            &:after{
                background: url(../img/icon_check_blue.svg) no-repeat center center;
            }
        }
        &_cross {
            &:after{
                background: url(../img/icon_cross.svg) no-repeat center center;
            }
        }
    }
}
.formwrap{
    display: grid;
    grid-template: 1fr / 3fr 5fr;
    gap: 20px;
    &__pic{
        border-radius: 16px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.form {
    h2{
        margin-bottom: 30px;
    }
    p{
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 20px;
        max-width: 70%;
        &:last-child{
            margin-bottom: 0;
        }
    }
    input, textarea{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #202020;
        border-radius: 8px;
        height: 60px;
        background: #fff;
        padding: 0 30px;
        width: 100%;
        border: 2px solid transparent;
    }
    input{
        
    }
    textarea{
        height: 120px;
        padding: 20px 30px;
    }
    border-radius: 16px;
    background: #2063cc;
    padding: 60px;
    color: #fff;
    &__inner {}
    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p.form__agree {
        margin: 0;
        font-size: 16px;
        line-height: 120%;
    }
    .field-wrap {
    }
    .field {
        margin-bottom: 20px;
        &_05 {
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            gap: 20px;
        }
        &__wrap {
            position: relative;
            &.error {
                .field__error{
                    display: block;
                    position: absolute;
                    top: 19px;
                    right: 30px;
                    font-size: 13px;
                    line-height: 120%;
                    color: var(--orange);
                }
                input, textarea{
                    border: 2px solid var(--orange);
                }
            }
        }
        &__error {
            display: none;
            color: var(--orange);
            padding-top: 5px;
        }
        
    }
    
}


.footer {
    padding-bottom: 40px;
    .card{
        border-radius: 16px;
        padding: 40px;
    }
    display: grid;
    grid-template: 1fr auto auto / 1.7fr 1.7fr 4.5fr;
    //grid-auto-rows: minmax(30px, auto);
    gap: 20px;
    grid-template-areas: 
	'logo contact contact'
	'nav nav2 map'
	'copy copy map';
    &__logo {
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__contact {
        grid-area: contact;
    }

    &__desc {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 500;
    }
    &__contact-list {
        display: flex;
        gap: 45px;
    }
    &__contact-item {
        font-size: 24px;
        transition: var(--transition);
        color: var(--black);
        &:hover{
            color: var(--orange);
        }
    }
    &__nav {
        grid-area: nav;
        .footer__desc{
            margin-bottom: 16px;
        }
        &_2{
            grid-area: nav2;
        }
    }
    &__navlist {
        display: flex;  
        flex-direction: column;
        gap: 16px;
    }
    &__navlist-link {
        font-weight: 400;
        font-size: 18px;
        transition: var(--transition);
        color: var(--black);
        &:hover{
            color: #2063cc;
        }
    }
    &__map {
        grid-area: map;
        .map{
            width: 860px; 
            height: 340px;
        }
    }
    &__map-desc {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        gap: 60px;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;
    }
    &__copy.card {
        grid-area: copy;
        padding: 20px 30px;
        font-weight: 400;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__copy-copy {
        
    }
    &__copy-dev {
        a{
            color: var(--black);
            text-decoration: underline;
            transition: var(--transition);
            &:hover{
                color: #2063cc;
                text-decoration: none;
            }
        }
    }
}
.contacts{
    padding: 60px;
    h2{
        margin-bottom: 30px;
    }
    &__item {
        margin-bottom: 22px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__name {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 5px;
    }
    &__val {
        font-size: 24px;
        line-height: 110%;
        a{
            color: var(--black);
            transition: var(--transition);
            &:hover{
                color: var(--orange);
            }
        }
    }
}












































@import '_query';