.header__nav {
  padding: 20px 0;
}
.header__nav li {
  display: flex;
  align-items: center;
  position: relative;
}
.header__nav li a {
  font-weight: 400;
  transition: var(--transition);
  color: var(--color);
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  white-space: nowrap;
}
.header__nav li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  position: absolute;
  right: 8px;
  background: transparent;
  transition: var(--transition);
}
.header__nav li button svg {
  fill: var(--black);
  top: 19px;
  right: 16px;
  transition: var(--transition);
  width: 7px;
  height: 4px;
}
.header__nav li.parent {
  align-self: stretch;
}
.header__nav li.parent > a {
  padding-right: 30px;
}
.header__nav li.parent ul li a {
  height: auto;
  min-height: 40px;
  padding: 10px 30px 10px 0;
  line-height: 1.1;
  min-width: auto;
}
.header__nav li ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -40px;
  border-radius: 16px;
  box-shadow: 0px 14px 30px 0px rgba(32, 99, 204, 0.1);
  background: #fff;
  padding: 20px 0 20px 30px;
  transition: var(--transition);
}
.header__nav li.act > a, .header__nav li:hover > a {
  color: var(--blue);
  border: 1px solid var(--blue);
  background: #f2f6ff;
}
.header__nav li.act > button, .header__nav li:hover > button {
  transform: rotate(180deg);
}
.header__nav li.act > button svg, .header__nav li:hover > button svg {
  fill: var(--blue);
}
.header__nav li.act > ul, .header__nav li:hover > ul {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.header__nav li ul {
  top: 110%;
  opacity: 0;
  visibility: hidden;
}
.header__nav li ul li {
  align-items: stretch;
  padding-right: 10px;
}
.header__nav li ul li a {
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 320px;
  min-width: 320px;
  white-space: normal;
  justify-content: stretch;
  border: 0;
}
.header__nav li ul li button {
  position: absolute;
  top: 10px;
  right: 16px;
  transform: rotate(-90deg);
}
.header__nav li ul li button svg {
  fill: var(--black);
  top: 19px;
  right: 16px;
  transition: var(--transition);
  width: 7px;
  height: 4px;
}
.header__nav li ul li ul {
  display: flex;
  left: 100%;
  top: -40px;
}
.header__nav li ul li.act a, .header__nav li ul li:hover a {
  border: 0;
  background: transparent;
}
.header__nav li ul li.act button, .header__nav li ul li:hover button {
  transform: rotate(-90deg);
}
.header__nav li ul li.act ul, .header__nav li ul li:hover ul {
  top: -20px;
}

@media only screen and (max-width: 1024px) {
  .header__nav-wrap {
    display: none;
    align-items: flex-start;
    transition: var(--transition);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    padding: 20px;
  }
  .header__nav-wrap .btn {
    margin-top: 20px;
    margin-left: 20px;
  }
  .header__nav-wrap.vis {
    top: 64px;
    opacity: 1;
    visibility: visible;
  }
  .header__nav-wrap.vis .btn {
    opacity: 1;
    visibility: visible;
    position: relative;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    min-height: 40px;
  }
  .header__nav-wrap .header__nav {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .header__nav-wrap li a {
    font-size: 13px;
    padding: 0;
    color: var(--black);
  }
  .header__nav-wrap li a:hover {
    color: var(--black);
  }
  .header__nav-wrap li.act a, .header__nav-wrap li:hover a {
    color: var(--black);
    border-color: transparent;
    background: transparent;
  }
  .header__nav-wrap li.parent {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__nav-wrap li.parent > button {
    top: 10px;
    right: 0;
  }
  .header__nav-wrap li.parent ul {
    position: static;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    max-height: 0;
    padding: 0 0 0 30px;
    transition: var(--transition);
    box-shadow: none;
    width: 100%;
  }
  .header__nav-wrap li.parent:hover button {
    transform: rotate(0deg);
  }
  .header__nav-wrap li.parent:hover button svg {
    fill: var(--black);
  }
  .header__nav-wrap li.parent.vis > ul {
    max-height: none;
    flex-direction: column;
  }
  .header__nav-wrap li.parent.vis > a {
    color: var(--blue);
  }
  .header__nav-wrap li.parent.vis > button {
    transform: rotate(180deg);
  }
  .header__nav-wrap li.parent.vis > button svg {
    fill: var(--blue);
  }
  .header__nav-wrap li ul li button {
    transform: none;
  }
  .header__nav-wrap li ul li:hover button svg {
    fill: var(--black);
  }
  .open-menu .header {
    border-radius: 0;
    background: #fff;
  }
  .open-menu .header:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background: rgba(32, 99, 204, 0.3);
    bottom: 0px;
    left: 20px;
    right: 20px;
  }
  .header__menu-btn {
    display: flex;
  }
}/*# sourceMappingURL=menu.css.map */