.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2px;
    height: 100%;
    li {
        display: flex;
        align-items: center;
        position: relative;
        a {
            font-weight: 400;
            transition: var(--transition);
            color: var(--color);
            height: 40px;
            padding: 0 20px;
            border-radius: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid transparent;
            white-space: nowrap;
            
        }
        button {
           display: flex;
           justify-content: center;
           align-items: center;
           width: 20px;
           height: 20px;
           border: 0;
           padding: 0; 
           position: absolute;
           right: 8px;
           background: transparent;
           transition: var(--transition);
           svg{
                fill: var(--black);
                top: 19px;
                right: 16px;
                transition: var(--transition);
                width: 7px;
                height: 4px;
           }
        }
        &.parent{
            >a{
                padding-right: 30px;
            }
            ul{
                li{
                    a{
                        height: auto;
                        min-height: 40px;
                        padding: 10px 30px 10px 0;
                        line-height: 1.1;
                    }
                }
            }
        }
        ul{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: -40px;
            border-radius: 0px 0px 16px 16px;
            box-shadow: 0px 14px 30px 0px rgba(32, 99, 204, 0.1);
            background: #fff;
            padding: 20px 0 20px 30px;
            transition: var(--transition);
        }
        &.act,
        &:hover{
            &>a{
                color: var(--blue);
                border: 1px solid var(--blue);
                background: #f2f6ff;
            }
            &>button {
                transform: rotate(180deg);
                svg{
                    fill: var(--blue);
                }
            }
            
            >ul{
                top: 100%;
                opacity: 1;
                visibility: visible;
            }
        }
        ul {
            top: 110%;
            opacity: 0;
            visibility: hidden;
            li{
                align-items: stretch;
                padding-right: 10px;
                a{
                    padding: 0;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    max-width: 320px;
                    min-width: 320px;
                    white-space: normal;
                    justify-content: stretch;
                    font-size: 16px;
                    border: 0;
                }
                button {
                    position: absolute;
                    top: 10px;
                    right: 16px;
                    transform: rotate(-90deg);
                    svg{
                         fill: var(--black);
                         top: 19px;
                         right: 16px;
                         transition: var(--transition);
                         width: 7px;
                         height: 4px;
                    }
                }
                ul{
                    display: flex;
                    left: 100%;
                    top: -40px;
                }
                &.act,
                &:hover{
                    a{
                        border: 0;
                        background: transparent;
                    }
                    button {
                        transform: rotate(-90deg);
                    }
                    ul{
                        top: -20px;
                    }
                }
            }
        }
    }
}